#!/usr/bin/env sh
mkdir -p "$(direnv_layout_dir)"
nixOverrides=()
if [ -d "$HOME/src/scripts/nix-utils" ]; then
	nixOverrides+=(--override-input my-nix "$HOME/src/scripts/nix-utils")
fi
export NIX_OVERRIDES=$(
	IFS=,
	echo "${nixOverrides[*]}"
)
use flake . --show-trace --refresh "${nixOverrides[@]}"
